[user]
	name = Nicolas Cusan
	email = nc@arillo.ch
[color]
	ui = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = code --wait
[url "git@github.com:"]
	insteadOf = https://github.com/